ReKatarina/.vs/ReKatarina/v15/.suo
ReKatarina/ReKatarina.sln.DotSettings.user
ReKatarina/.vs/ReKatarina/v15/sqlite3/storage.ide
ReKatarina/ReKatarina/bin/Release/System.Net.Http.dll
ReKatarina/ReKatarina/bin/Release/ReKatarina.pdb
ReKatarina/ReKatarina/bin/Release/ReKatarina.exe.config
ReKatarina/ReKatarina/bin/Release/Newtonsoft.Json.dll
ReKatarina/ReKatarina/bin/Release/NLog.dll
ReKatarina/ReKatarina/bin/Release/Aimtec.dll
ReKatarina/ReKatarina/bin/Release/Aimtec.SDK.dll
ReKatarina/ReKatarina/bin/Debug/System.Net.Http.dll
ReKatarina/ReKatarina/bin/Debug/ReKatarina.pdb
ReKatarina/ReKatarina/bin/Debug/ReKatarina.exe.config
ReKatarina/ReKatarina/bin/Debug/ReKatarina.exe
ReKatarina/ReKatarina/bin/Debug/Newtonsoft.Json.dll
ReKatarina/ReKatarina/bin/Debug/NLog.dll
ReKatarina/ReKatarina/bin/Debug/Aimtec.dll
ReKatarina/ReKatarina/bin/Debug/Aimtec.SDK.dll
ReKatarina/ReKatarina/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ReKatarina/ReKatarina/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ReKatarina/ReKatarina/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ReKatarina/ReKatarina/obj/Debug/ReKatarina.pdb
ReKatarina/ReKatarina/obj/Debug/ReKatarina.exe
ReKatarina/ReKatarina/obj/Debug/ReKatarina.csprojResolveAssemblyReference.cache
ReKatarina/ReKatarina/obj/Debug/ReKatarina.csproj.FileListAbsolute.txt
ReKatarina/ReKatarina/obj/Debug/ReKatarina.csproj.CoreCompileInputs.cache
ReKatarina/ReKatarina/obj/Debug/ReKatarina.csproj.CopyComplete
ReKatarina/ReKatarina/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ReKatarina/ReKatarina/obj/Debug/DesignTimeResolveAssemblyReferences.cache
